projects/imc/backend/xsd/efg_3.2.07.xsd

<xs:schema xmlns:efg="http://www.europeanfilmgateway.eu/efg" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.europeanfilmgateway.eu/efg" elementFormDefault="qualified" version="3.2.07" id="efg">
	<!--
The top level structure of the EFG Entity
-->
	<!-- ################# ROOT #################-->
	<xs:element name="efgEntity">
		<xs:annotation>
			<xs:documentation>The Root Element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="efg:avcreation"/>
				<xs:element ref="efg:nonavcreation"/>
				<xs:element ref="efg:person"/>
				<xs:element ref="efg:corporate"/>
				<xs:element ref="efg:group"/>
				<xs:element ref="efg:collection"/>
				<xs:element ref="efg:decisionEvent"/>
				<xs:element ref="efg:publicationEvent"/>
				<xs:element ref="efg:productionEvent"/>
				<xs:element ref="efg:award"/>
				<xs:element ref="efg:iprEvent"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- ################# AGENT #################-->
	<!-- PERSON -->
	<xs:element name="person">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="name" type="efg:NameType" maxOccurs="unbounded"/>
				<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="regionOfActivity" type="efg:CountryCodeType1Alpha2" minOccurs="0"/>
				<xs:element name="place" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="sex" type="xs:string"/>
				<xs:element name="typeOfActivity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="viewBiography" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAward" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relItem" type="efg:RelatedItemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- CORPORATE -->
	<xs:element name="corporate">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="regionOfActivity" type="efg:CountryCodeType1Alpha2" minOccurs="0"/>
				<xs:element name="name" type="efg:NameType" maxOccurs="unbounded"/>
				<xs:element name="typeOfActivity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAward" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relItem" type="efg:RelatedItemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- GROUP -->
	<xs:element name="group">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="regionOfActivity" type="efg:CountryCodeType1Alpha2" minOccurs="0"/>
				<xs:element name="name" type="efg:NameType" maxOccurs="unbounded"/>
				<xs:element name="typeOfActivity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAward" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relItem" type="efg:RelatedItemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- ################# COLLECTION #################-->
	<xs:element name="collection">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="title" type="efg:TitleType"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="description" type="efg:DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" maxOccurs="unbounded"/>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- ################# EVENT #################-->
	<!-- DECISION -->
	<xs:element name="decisionEvent">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="date" type="xs:string" minOccurs="0"/>
				<xs:element name="regionalScope" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="agency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="filingNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="verdict" type="xs:string" minOccurs="0"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- PUBLICATION -->
	<xs:element name="publicationEvent">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="date" type="xs:string" minOccurs="0"/>
				<xs:element name="regionalScope" type="xs:string" minOccurs="0"/>
				<xs:element name="place" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="exhibitionOrganiser" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="accessConditions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- PRODUCTION -->
	<xs:element name="productionEvent">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="type" type="xs:string" minOccurs="0"/>
				<xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="regionalScope" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="date" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- AWARD -->
	<xs:element name="award">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="date" type="xs:string"/>
				<xs:element name="nominationOnly" type="xs:boolean" default="false" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="achievement" type="efg:LinguisticType" minOccurs="0"/>
				<xs:element name="sponsor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- IPR -->
	<xs:element name="iprEvent">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="date" type="xs:string"/>
				<xs:element name="agency" type="xs:string"/>
				<xs:element name="regionalScope" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="nameOfApplicant" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVManifestation" type="efg:RelatedManifestationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- ################# CREATION #################-->
	<xs:element name="avcreation">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="title" type="efg:TitleType" maxOccurs="unbounded"/>
				<xs:element name="identifyingTitle" type="efg:IdentifyingType"/>
				<xs:element name="language" type="efg:LangType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="countryOfReference" type="efg:CountryType" maxOccurs="unbounded"/>
				<xs:element name="productionYear" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="keywords" type="efg:KeywordsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="description" type="efg:DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="userTag" type="efg:UserTagType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="viewFilmography" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="avManifestation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="identifier" type="efg:IdentifierType"/>
							<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
							<xs:element name="title" type="efg:TitleType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="language" type="efg:LangType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="dimension" type="efg:DimensionType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="duration" type="efg:DurationType" minOccurs="0"/>
							<xs:element name="coverage" type="efg:CoverageType" minOccurs="0"/>
							<xs:element name="format" minOccurs="0">
								<xs:complexType>
									<xs:group ref="efg:FormatElements"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="rightsHolder" type="efg:RightsHolderType" minOccurs="0" maxOccurs="unbounded"/>
							<!-- START FIX (michele) -->
							<xs:element name="rightsStatus" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<!-- END FIX (michele) -->
							<xs:element name="thumbnail" type="xs:string"/>
							<xs:element name="provenance" type="xs:string" minOccurs="0"/>
							<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="identifier" type="efg:IdentifierType"/>
										<xs:element name="isShownBy" type="xs:string"/>
										<xs:element name="isShownAt" type="xs:string"/>
										<xs:element name="fileFormat" type="xs:string"/>
										<xs:element name="provider" type="xs:string"/>
										<xs:element name="aggregator" type="xs:string"/>
										<xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="country" type="efg:CountryType" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:choice>
									<xs:attribute name="highQuality" type="xs:boolean"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="avCreationRel" type="xs:string" minOccurs="0"/>
							<xs:element name="relDecisionEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relProductionEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relPublicationEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCollection" type="efg:RelatedCollectionType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relProductionEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relIprRegistration" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAward" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="nonavcreation">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="identifier" type="efg:IdentifierType"/>
				<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
				<xs:element name="title" type="efg:TitleType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="keywords" type="efg:KeywordsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="description" type="efg:DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="dateCreated" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="language" type="efg:LangType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="userTag" type="efg:UserTagType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="nonAVManifestation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="identifier" type="efg:IdentifierType"/>
							<xs:element name="recordSource" type="efg:RecordType" maxOccurs="unbounded"/>
							<xs:element name="title" type="efg:TitleType" maxOccurs="unbounded"/>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="specificType" type="xs:string"/>
							<xs:element name="language" type="efg:LangType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="date" type="efg:DateType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="digitalFormat" type="efg:DigFormatType" minOccurs="0"/>
							<xs:element name="physicalFormat" type="efg:PhFormatType" minOccurs="0"/>
							<xs:element name="colour" type="efg:ColorType" minOccurs="0"/>
							<xs:element name="geographicScope" type="efg:GeoType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="coverage" type="efg:CoverageType" minOccurs="0"/>
							<xs:element name="rightsHolder" type="efg:RightsHolderType" minOccurs="0" maxOccurs="unbounded"/>
							<!-- START FIX (michele) 
							<xs:element name="rightsStatus" type="efg:RightsStatusType"
								minOccurs="0" maxOccurs="unbounded"/>
							 END FIX (michele) -->
							<xs:element name="rightsStatus" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="provenance" type="xs:string" minOccurs="0"/>
							<xs:element name="thumbnail" type="xs:string"/>
							<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="identifier" type="efg:IdentifierType"/>
										<xs:element name="isShownBy" type="xs:string"/>
										<xs:element name="isShownAt" type="xs:string"/>
										<xs:element name="fileFormat" type="xs:string"/>
										<xs:element name="provider" type="xs:string"/>
										<xs:element name="aggregator" type="xs:string"/>
										<xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="country" type="efg:CountryType" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="note" type="efg:NoteType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:choice>
									<xs:attribute name="highQuality" type="xs:boolean"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relDecisionEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="relPublicationEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="relNonAVCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAvCreation" type="efg:RelatedCreationType" minOccurs="0" maxOccurs="unbounded"/>

				<xs:element name="relCollection" type="efg:RelatedCollectionType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relPerson" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relCorporate" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relGroup" type="efg:RelatedAgentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relProductionEvent" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relIprRegistration" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="relAward" type="efg:RelatedEventType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<!-- 					ELEMENTS								 -->
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<xs:group name="FormatElements">
		<xs:all>
			<xs:element name="carrier" type="xs:string" minOccurs="0"/>
			<xs:element name="gauge" type="xs:string" minOccurs="0"/>
			<xs:element name="aspectRatio" type="xs:string" minOccurs="0"/>
			<xs:element name="colour" type="efg:ColorType" minOccurs="0"/>
			<xs:element name="sound" type="efg:SoundType" minOccurs="0"/>
			<xs:element name="digital" type="efg:DFType" minOccurs="0"/>
		</xs:all>
	</xs:group>
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<!-- 						TYPE									   -->
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<!-- ################# RELATION #################-->
	<xs:complexType name="RelatedAgentType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RelatedCreationType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RelatedManifestationType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RelatedEventType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RelatedItemType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RelatedCollectionType">
		<xs:all>
			<xs:element name="identifier" type="efg:IdentifierType"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<!-- ################# TITLE #################-->
	<xs:complexType name="TitleType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="text" type="xs:string"/>
			<xs:element name="partDesignation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="unit" type="xs:string"/>
						<xs:element name="value" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="relation" type="xs:string" minOccurs="0"/>
			<xs:element name="temporalScope" type="xs:string" minOccurs="0"/>
			<xs:element name="geographicScope" type="efg:GeoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="efg:LinguisticAttribute"/>
	</xs:complexType>
	<xs:complexType name="CoverageType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="spatial" type="efg:SpatialType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="temporal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SpatialType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="efg:spatialAttribute" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RightsHolderType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="URL" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- START FIX (michele) -->
	<xs:simpleType name="RightsStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Copyright protected"/>
			<xs:enumeration value="Not Copyright protected"/>
			<xs:enumeration value="Public Domain"/>
			<xs:enumeration value="No known copyright / Orphan Work"/>	
			<!--START FIX (Miriam) -->
			<xs:enumeration value="In Copyright"/>
			<xs:enumeration value="In Copyright - EU Orphan Work"/>
			<!-- End FIX (Miriam) -->
		</xs:restriction>
	</xs:simpleType>
	<!-- END FIX -->

	<xs:complexType name="SoundType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="hasSound" type="xs:boolean" use="required"/>
				<xs:attribute name="recording" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ColorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="hasColor" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DFType">
		<xs:all>
			<xs:element name="container" type="xs:string" minOccurs="0"/>
			<xs:element name="coding" type="xs:string" minOccurs="0"/>
			<xs:element name="originalstatus" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:simpleContent>
			<xs:extension base="efg:CountryCodeType1Alpha2">
				<xs:attribute name="reference" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RecordType">
		<xs:all>
			<xs:element name="provider" type="efg:ProviderType"/>
			<xs:element name="sourceID" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ProviderType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="schemeID" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KeywordsType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="term" type="efg:TermType" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="efg:LinguisticAttribute"/>
		<xs:attribute name="scheme" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DigFormatType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="status" type="xs:string"/>
				<xs:attribute name="size" type="xs:string"/>
				<xs:attribute name="resolution" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PhFormatType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="size" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DescriptionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="efg:LinguisticAttribute"/>
				<xs:attribute name="source" type="xs:string"/>
				<xs:attribute name="type" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IdentifyingType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="origin" type="xs:string"/>
				<xs:attributeGroup ref="efg:LinguisticAttribute"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="scheme" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NoteType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="source" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TermType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LangType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="usage" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GeoType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="code" type="efg:CountryCodeType1Alpha2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="place" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LinguisticType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="efg:LinguisticAttribute"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UserTagType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="efg:LinguisticAttribute"/>
				<xs:attribute name="creator" type="xs:string"/>
				<xs:attribute name="date" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DurationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="frameRate" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DimensionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="unit" type="xs:string"/>
				<xs:attribute name="reference" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="part" type="xs:string"/>
				<xs:attribute name="geographicScope" type="efg:CountryCodeType1Alpha2"/>
				<xs:attribute name="temporalScope" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="issued"/>
							<xs:enumeration value="digitised"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- NOT YET USED IN VERSION 3.0 -->
	<!--  USED IN VERSION 3.2 -->
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="CountryCodeType2">
		<xs:annotation>
			<xs:documentation>The official name of the standard is Codes for the representation of names of countries and their subdivisions – Part 2: Country subdivision code.
			Conform to ISO 3166-2 Representation of Countries.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="^[A-Z]{2}-[A-Za-z0-9]{1,3}$"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType1Alpha2">
		<xs:annotation>
			<xs:documentation> 	
				This list states the country names (official short names in English) in alphabetical order as given in ISO 3166-1 
				and  the corresponding ISO 3166-1-alpha-2 code elements.  
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value=".*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType1Alpha3">
		<xs:annotation>
			<xs:documentation> 	
			ISO 3166-1 alpha-3 codes are three-letter country codes defined in ISO 3166-1
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderCodeType">
		<xs:annotation>
			<xs:documentation>Must conform to ISO 5218 - Representation of Human Sexes (0 - Not Known; 1 - Male; 2 -   Female; 9 - Not specified)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0129]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<!-- 					ATTRIBUTES							 -->
	<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
	<xs:attributeGroup name="LinguisticAttribute">
		<xs:attribute name="lang" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:simpleType name="spatialAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="latlng"/>
			<xs:enumeration value="altitude"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
